.right-side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 78vw;
    background-color: $color-secondary;
    padding-bottom: .2rem;
}

.app {
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    &__left {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: space-between;
        padding: .5rem .5rem 0 .5rem;
        // background-color: $color-primary;

        &--overview {
            // background-color: $color-dark-secondary;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 25rem;

            &-title {
                display: inline-block;
                color: #fff;
                font-size: 2.5rem;
                font-weight: 500;
                background-color: $color-dark-secondary;
                padding: .4rem 3.8rem;
                margin-top: 1.5rem;
                font-variant: small-caps;
                letter-spacing: .1rem;
                clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            }

            &-text {
                
                color: $color-dark;
                font-weight: 200;
                font-size: 1.8rem;
                padding: .5rem;

                &:nth-of-type(2n) {
                    background-color: $color-primary;
                    color: #fff;
                }

                &:first-of-type {
                    margin-top: 1.5rem;
                }
            }
        }

        &--btn-container {
            margin-bottom: 1.2rem;
            text-align: center;

            &-btn, &-btn:link, &-btn:visited {
                transition: all 0.4s;
                display: inline-block;
                text-decoration: none;
                border: none;
                border-radius: 1.8rem;
                font-size: 2.3rem;
                font-weight: 100;
                padding: 1rem 2rem;
                background-color: $color-dark-secondary;
                color: #fff;
                cursor: pointer;

                i {
                    transition: all 0.4s;
                    margin-left: .8rem;
                    
                }

                .btn-text {
                    transition: all 0.4s;
                    display: inline-block;
                }

                &.btn-pick {
                    background-color: $color-button-pick;

                    i {
                        font-size: 90%;
                    }

                    &.cannot-pick {
                        transform: translateY(-12rem);
                        opacity: 0;
                        visibility: hidden;

                        & + button {
                            transform: translateX(-10rem);
                        }
                    }
                }

                &.btn-reset {
                    background-color: $color-button-reset;

                    i {
                        font-size: 80%;
                    }
                }
            }

            &-btn:hover {
                transition: all 0.4s ease-in-out;
                transform: translateY(-.2rem);
                background-color: $color-dark-secondary;
                border-radius: 3rem;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

                i {
                    transform: translateX(.3rem);
                }

                .btn-text {
                    transition: all 0.4s;
                }
            }
            
            &-btn:active, &-btn:focus {
                outline: none;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }

            &-btn:first-of-type {
                margin-right: 8rem;
            }



        }
    } 
}

.draft-order {
    width: 20%;
    background-color: $color-dark-secondary;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #fff;
    padding: .5rem 0 1.2rem 0;
    

    &__title {
        color: #fff;
        align-self: center;
        font-size: 2rem;
    }
    &__pick-box {
        align-self: stretch;
        margin-left: 1.8rem;

        &--num {
            color: $color-dark-secondary;
            background-color: #fff;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            margin-left: .5rem;
            border: .1rem solid #fff;
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
        }

        &--name {
            text-align: center;
            display: inline-block;
            margin-left: 2rem;
        }
    }
}