///////////////
////// COLOURS

$color-dark: #171717;
$color-dark-secondary: #1f1f1f;
$color-medium: #636363;
$color-primary: #6FA0C0;
$color-secondary: #D1E6F3;
$color-secondary-highlighted: #c4dfef;
$color-tertiary: #427698;
$color-winner: #529723;